[2015-01-06 04:56] devxoul opened #15 "Update screenshot to latest version of iOS"
Too old...

[2015-01-12 17:58] ppinel opened #16 "Can't override JLToastViewValue."
Hi,

I tried to override the value of the struct JLToastViewValue but I failed.
Can you modify the code to allow people to override the value in the struct pls?

Thanks

[2015-01-14 17:48] devxoul commented on #16
I just add some code to support for setting default values. You can now set default values, e.g.

[code]

For more info, see #17

Thanks.

[2015-01-14 19:22] devxoul commented on #15
Updated https://github.com/devxoul/JLToast/commit/9f0c6965950569deeae0a59a4a64632a224b7dc6

[2015-01-14 19:22] #15 closed

[2015-01-19 10:40] ppinel commented on #16
@devxoul Thank you!

[2015-01-19 12:45] ppinel opened #18 "File *.h is missing when installing the JLToast via CoccoaPods."
Hi,

It appear that in the pod config file you specify only the ``*.swift`` file to be installed.
https://github.com/devxoul/JLToast/blob/master/JLToast.podspec#L11
So the ``JLToast.h`` is missing.

Can you fixed it pls?
``s.source_files = 'JLToast/*.swift'`` to ``s.source_files = 'JLToast/*.{swift,h}'``

Thanks!

[2015-01-19 14:43] #16 closed

[2015-01-19 15:40] devxoul commented on #18
Thanks for your report! `JLToast.h` file must be included in `public_header_files`, too. For details, see #19.

[2015-02-04 14:39] #18 closed

[2015-04-06 06:09] Realignist opened #23 "Don't working at Alamofire"
I am using for JLToast with Alamofire in swift project.
But it doesn't works in Alamofire Closure. It can catch on debugger, but not working.

Can I help for this issue?

[code]

[2015-04-10 06:34] devxoul commented on #23
I just tested with your code but it seemed to work. Could you please tell me your environment? (such as swift version, JLToast version)

[2015-04-15 10:02] Realignist commented on #23
I just used on Xcode 6.2. JLToast's version was 1.1.1.
May I have to move swift to 1.2?

[2015-04-18 09:41] devxoul commented on #23
Actually swift 1.2 is official now, can you try with swift 1.2?

[2015-04-22 12:38] blakeperdue opened #26 "Possible to use with iOS 7.0?"
With iOS 7.0 still at over 16% of the market, I have to support it unfortunately. Is there a quick way to get JLToast to support iOS 7?

[2015-04-22 16:55] devxoul commented on #26
@blakeperdue, Of course you can.

Just download the source code, then import to your project. Dynamic framework via CocoaPods or Carthage will be rejected by Apple.

[2015-04-22 17:48] blakeperdue commented on #26
Awesome, thanks for the tip!

[2015-04-22 17:48] #26 closed

[2015-04-22 17:57] devxoul commented on #26
No problem :)

[2015-04-29 15:57] #23 closed

[2015-05-04 16:52] mikewalkerjr opened #27 "Toast Doesn't Appear Inside CollectionView didSelectItemAtIndexPath"
I have a UICollectionView where I let the user select up to 5 photos. After 5 are selected I'm trying to show a toast message informing the user only 5 photos can be selected. I am using JLToast throughout the code, however here it does not show. The UICollectionView is within a UIViewController. Here is the code I am using within didSelectItemAtIndexPath:

            println("show toast")

[2015-05-04 18:53] devxoul commented on #27
Your code doesn't seem to have any problem. Could you please let me know more context? I can't figure out the problem with your code.
Thanks!

[2015-05-04 19:08] mikewalkerjr commented on #27
I actually was playing with the code some and it actually has to do with how the ViewController is presented. Originally I had used navigationController.presentViewController, and using that I was not able to see a Toast message.

If I changed the code to use navigationController.pushViewController, then the toast works properly.

[2015-05-04 19:38] devxoul commented on #27
You mean the toast message from modal view controller won't be shown?

[2015-05-04 19:39] mikewalkerjr commented on #27
Yes that's correct

[2015-05-05 13:41] devxoul commented on #27
Could you please test with this?

Replace the line 104 at `JLToast.swift`:

**Before**
[code]

**After**
[code]

If it works, I'll make a new release.

[2015-05-05 13:59] mikewalkerjr commented on #27
Yes that fixed it.

[2015-05-05 14:36] devxoul commented on #27
Great. Then I'll make a new release. Thanks!

[2015-05-05 14:36] #27 closed

[2015-07-29 11:54] ArtworkAD opened #31 "Toast appears behind keyboard, not visible to user"
If the software keyboard is visible toast message appear behind the keyboard not in front of it.

Use case: validation of text inside text field. You want the keyboard to be present however you also want to display a toast. BUT the toast should not block interaction with keyboard.

[2015-07-29 14:49] devxoul commented on #31
Hi @ArtworkAD,

I've just made a new PR for this issue: https://github.com/devxoul/JLToast/pull/32
Could you please check this?

Thanks :smile:

[2015-07-30 09:04] ArtworkAD commented on #31
@devxoul It works perfectly. However there is a little issue with with the opacity. I would like to reduce opacity to make the text more readable, but only when I show it over a keyboard. Is this possible? I would like to do e.g.

JLToast.makeText("FooBar", opacity: 0.95).show()

[2015-07-30 09:53] devxoul commented on #31
@ArtworkAD,

You can access `JLToastView` from `JLToast` instance then set `alpha`.

[code]

[2015-07-30 09:55] ArtworkAD commented on #31
@devxoul thank you, please upload this update to cocoapods :dancer:

[2015-07-30 10:04] devxoul commented on #31
@ArtworkAD
Finished! https://cocoapods.org/pods/JLToast :smile:

[2015-07-30 19:17] teo751 opened #33 "How do you make a JLToastView a button?"
How can I present and make a JLToastView accept touch input that when triggered, runs a closure?

[2015-07-30 19:41] devxoul commented on #33
You can access `JLToastView` via `view` property of `JLToast` instance. `JLToastView` is touch-acceptable, so you can add gesture recognizers.

[2015-08-03 09:45] ArtworkAD opened #34 "Feature Request: Introduce color types"
Would like to do:

    JLToast.makeText("FooBar", type: JLToastType.Green).show()

with types:

    JLToastType.Green
    JLToastType.Red
    JLToastType.Black (default)

or other example:

    JLToast.makeText("FooBar").show(JLToastType.Green)

or

    JLToast.makeText("FooBar").showSuccess()

Use-case: I want to make toasts more meaningful like "this is an error" or "entry created successfully".

[2015-08-03 09:53] devxoul commented on #34
As we did in #31, you can set background color of `JLToastView`. For reusable purpose, you can make a wrapper class for it.

[code]

[2015-08-03 10:04] ArtworkAD commented on #34
lel :smile: thank you

[2015-08-03 10:04] #34 closed

[2015-08-03 10:24] ArtworkAD opened #35 "Custom background color issue"
![foto 03 08 15 12 20 21](https://cloud.githubusercontent.com/assets/524580/9035681/6ef0b2a2-39da-11e5-83e6-807882e5ad0e.png)

when I present it like this:
[code]

    MyToast.showError(err)

It seems like the black color is overlaying the red color.

[2015-08-03 11:54] devxoul commented on #35
Oh, I'm sorry. You should use `toast.view.backgroundView.backgroundColor` instead of using `toast.view.backgroundColor`.

[2015-08-03 14:50] ArtworkAD commented on #35
@devxoul there is no backgroundView property in toast.view

[2015-08-03 15:02] devxoul commented on #35
Oh deer, I've just made a new release(1.2.5).

[2015-08-03 15:15] ArtworkAD commented on #35
Thank you it works.

[2015-08-03 15:15] #35 closed

[2015-08-03 15:16] devxoul commented on #35
:smile::+1:

[2015-09-15 09:04] hengchengfei opened #40 "repeat execute JLToast.makeText().show"
when repeat execute,

for example,executed for 10 times in a second,it will show 10 times.

[2015-09-15 09:06] devxoul commented on #40
@hengchengfei,
Could you please explain more detail to me?
Thanks.

[2015-09-15 09:11] hengchengfei commented on #40
我的意思是，

连续点击弹出按钮，也就是连续调用JLToast.makeText()。

比如非常快的点击10次，会连续出来10个信息窗口。

而我希望在前一个弹出窗口还没消失的时候，不能再弹出窗口了。

但是我没发判断前一个窗口有没消失。

[2015-09-15 09:32] hengchengfei commented on #40
repeat click the button，for example 10 times，then Toast view 10 times。

i want to show the next toast after the previous toast hide。

[2015-09-15 09:37] devxoul commented on #40
Do you want 'hide previous toast and show new toast'?

[2015-09-15 10:03] hengchengfei commented on #40
Yes

[2015-09-15 11:09] devxoul commented on #40
That's not supported now in official. However you can do with this:

[code]

[2015-09-16 00:04] ldiqual opened #41 "Publish 1.3.0 on cocoapods trunk"
Only 1.2.5 is available there, would you mind updating it?

[2015-09-16 04:32] devxoul commented on #41
Oh deer. I just pushed 1.3.0 to CocoaPods. :smile:

[2015-09-16 04:33] ldiqual commented on #41
@devxoul Thanks! Much appreciated.

[2015-09-16 04:33] #41 closed

[2015-09-19 09:48] ArtworkAD commented on #31
The keyboard issue appears in iOS9 again. The toast is behind the keyboard.

[2015-09-19 15:06] devxoul commented on #31
@ArtworkAD, I've made a new PR to fix this issue: #42

[2015-09-19 15:20] ArtworkAD commented on #31
@devxoul :smile: just tested, it works. Please merge and update to cocoapods. Grazi :+1:

[2015-09-19 15:20] #31 closed

[2015-09-19 15:34] devxoul commented on #31
@ArtworkAD, https://github.com/devxoul/JLToast/releases/tag/1.3.1
:smile:

[2015-09-29 23:29] confile opened #43 "Attribute JLToastViewPortraitOffsetYAttributeName does not work"
I tried:

[code]

but still the Toast remains on the same position.

[2015-09-30 02:48] devxoul commented on #43
@confile, What device are you using? You should specify `userInterfaceIdiom` correctly.

For iPhone:

[code]

For iPad:

[code]

[2015-09-30 09:21] confile commented on #43
I use both.

[2015-10-01 15:02] devxoul commented on #43
This code works with sample project:

[code]

![simulator screen shot oct 2 2015 12 00 54 am](https://cloud.githubusercontent.com/assets/931655/10224421/c30a8e52-6898-11e5-8cc5-d0d8eec73f12.png)

Where did you put that code? It must be placed before showing.

[2015-10-01 15:07] confile commented on #43
thanks

[2015-10-01 15:07] #43 closed

[2015-10-09 20:55] saturnial opened #44 "Carthage support"
Skipped building JLToast due to the error:
Dependency "JLToast" has no shared framework schemes for any of the platforms: iOS

Can you make a framework so as to support building via carthage?

[2015-10-13 17:56] saturnial opened #45 "Image support"
Feature request: ability to add an image to the toast

[2015-10-15 00:01] devxoul commented on #44
@saturnial, Sorry for delay!
I've just made a new release 1.3.2 which support Carthage.

Thanks.

[2015-10-15 00:56] saturnial commented on #44
Cool. Thanks!

[2015-10-15 05:19] devxoul commented on #44
:smile:

[2015-10-15 05:19] #44 closed

[2015-10-15 16:38] confile opened #48 "show() method should remove previous toasts from the UI"
If you call ``makeText().show()`` many times in a row for example, when the user is trying to send data and you show a toast message.  In case the user tapped the button which triggers the toast many times the UI receives a lot of toast.

Could you manage it somehow to remove previous toast when toasts are still in the UI and you want to show a new toast?

[2015-10-19 06:56] devxoul commented on #45
Hi, @saturnial.
Currently JLToast doesn't have plan to support images.

Alternatively, you can access to `JLToastView` via `JLToast.view` and add image view.

Or you can make a new PR!

Thanks.

[2015-10-19 06:59] devxoul commented on #48
JLToast originally designated to follow Android Toast's behavior. Currently you can dismiss previous toast by call `finish()` to itself. (#40)

I'm working on making a new interface to access current toast and dismiss.

Thanks!

[2015-10-26 19:24] #45 closed

[2015-10-26 19:24] #33 closed

[2015-11-21 15:45] ArtworkAD opened #50 "Toast above keyboard disappears when keyboard is closed"
So I have a toast above the keyboard but it disappears instantly when the keyboard is closed. I experience this in iOS 9 and swift 2. I think there was no problem with iOS 8.

Related: https://github.com/devxoul/JLToast/issues/31

[2015-11-22 16:09] ArtworkAD opened #51 "Migrating from iOS 8 to iOS9 and swift makes toasts disappear right after shown"
I don't know why this happens because I did not touch any code. I just migrated from JLToast 1.2.5 to 1.3.2. What I see is that when the toast is shown it disappears instantly. It happens for me in this code:
[code]
The above method is a callback method of ```MFMessageComposeViewControllerDelegate```. The toast is displayed for a second and removed instantly without animation. Do you have a clue w

[2015-11-24 06:41] devxoul commented on #50
Hi! Thank you for reporting. Would you please check #52? I think this will perfectly!

[2015-11-30 22:25] ArtworkAD commented on #51
Closing this for now.

[2015-11-30 22:25] #51 closed

[2015-11-30 22:26] ArtworkAD opened #53 "v1.3.2 changes statusbar text color from white to black"
Just noticed that when the toast appears the status bar text color changes from white to black. Statusbar style is set to UIStatusBarStyleLightContent in info.plist.

[2015-11-30 22:27] ArtworkAD commented on #50
@devxoul Hi! I tried your pull request, the actual problem with the disappearing toast is solved! However I cannot update to 1.3.2 because of this issue: https://github.com/devxoul/JLToast/issues/53

[2015-11-30 22:27] #50 closed

[2015-12-01 03:43] devxoul commented on #53
How did you install JLToast?

[2015-12-01 07:04] ArtworkAD commented on #53
@devxoul via cocoapods

[2015-12-02 07:17] devxoul commented on #53
Hmm that's odd. I'll check it soon.

[2015-12-02 23:23] pacificanfog0 opened #54 "Custom UIColors for background colors"
Hey,

I'm having a weird issue:

    let toast: JLToast = JLToast()
    toast.text = "Some text here."
    toast.duration = JLToastDelay.LongDelay
    toast.view.backgroundView.backgroundColor = UIColor(red: 77, green: 228, blue: 199, alpha: 1)
    toast.show()

The toast does not show up/Is not displayed.

While the same code as above, but with:

    ...
    toast.view.backgroundView.backgroundCo

[2015-12-03 09:29] devxoul commented on #54
Hi @pacificanfog0!
UIColor takes RGB in range from 0 to 1, not from 0 to 255.

You should do this:

[code]

![simulator screen shot dec 3 2015 6 26 06 pm](https://cloud.githubusercontent.com/assets/931655/11556648/6f8c6ffa-99eb-11e5-90ee-8a50fa0107c2.png)

Hope it could be helpful for you!

[2015-12-03 16:58] pacificanfog0 commented on #54
Thank you very much, sorry for overlooking that! It helps a lot.

[2015-12-03 16:58] #54 closed

[2015-12-03 17:01] devxoul commented on #54
No problem :smile:

[2015-12-04 18:40] mikewalkerjr opened #55 "Toast view still uses screen width when in split screen mode"
On the iPad Air 2 and iPad Mini 4, the toast messages don't take into account the application view's width. It instead appears to be using the screen width. When I have a split screen, the toast is cut off where the split screen starts.

[2015-12-05 13:24] TThana opened #56 "Toast.show() invisible"
The toast invisible now,but earlier it was visible

[2015-12-05 18:01] TThana commented on #56
not work with iAd,
self.canDisplayBannerAds = true

[2015-12-05 18:17] devxoul commented on #56
@TThana, which version are you using?

[2015-12-07 11:37] mani47 opened #57 "Doesn't work after TouchID"
For some reason if I use LocalAuthentication and TouchID in some view controller, Toast will not work after that in any other view controller. This is my sample code:

    let context = LAContext()
    var error: NSError?
    let reasonString = "Authentication is needed to complete the action."
    if context.canEvaluatePolicy(LAPolicy.DeviceOwnerAuthenticationWithBiometrics, error: &error) {

[2015-12-07 13:25] devxoul commented on #57
Could you please provide me the full source code using JLToast?

[2015-12-07 19:04] mani47 commented on #57
I have created this project to showcase the problem:

https://github.com/mani47/showcase-JLToast-bug

 It has 5 view controllers on all viewDidLoad events I show a sample toast message, in third view controller it requires TouchID and on success redirects user to forth view controller and in forth view controller it doesn't show the toast message this is the problem.

but interesting enough in fif

[2015-12-07 19:38] devxoul commented on #57
@mani47, thanks! I was available to reproduce the bug.
#52 might fix it. I just released 1.3.3 version which contains #52 PR.

Try again with that version and please let me know if it works or not. :smile:

[2015-12-07 19:39] devxoul commented on #56
@TThana, could you please try with 1.3.3 version of JLToast?

[2015-12-08 02:52] lggdance commented on #53
Same problem here, also installed via cocoapods.

[2015-12-08 05:58] mani47 commented on #57
You are awesome! Thank you for the great work with JLToast.

[2015-12-08 05:58] #57 closed

[2015-12-08 06:31] devxoul commented on #53
Hmm. Could anyone please make example project? I cannot reproduce the bug.
Tested with iPhone simulator with OS 8.4 and 9.1, iPhone 6S (JLToast 1.3.2 via CocoaPods)

[2015-12-10 07:42] suniljakhar opened #58 "Black screen appears for a time being on device rotation."
Once toast message is appears on screen, after that if user rotates the device then for a time being screen become black.

[2015-12-10 17:28] ArtworkAD commented on #53
@devxoul example project: https://github.com/ArtworkAD/ToastTest The problem first appeared with the update from 1.3.1 to 1.3.2.

Note: in Info.plist I have set **Status bar style** to UIStatusBarStyleLightContent and **Status bar tinting parameters** to -> **Navigation Bar** -> **Style** to default, **Translucent** to no

The navigation bar style in storyboard is set to black. Now when you show t

[2015-12-11 17:20] devxoul commented on #53
Hey guys!
I was available to reproduce the bug. #59 will fix the issue, please try with it!
If it works, I'll merge the PR and make a new release as soon as possible.
Thanks to @ArtworkAD.

[2015-12-11 23:05] ArtworkAD commented on #53
@devxoul it solves the status bar text problem :+1: . But it again creates the toast under keyboard problem. If keyboard is visible the toast will appear under it and is not visible.

[2015-12-12 07:39] devxoul commented on #53
How did you setup with #59? It seemed work for me...

![simulator screen shot dec 12 2015 4 38 50 pm](https://cloud.githubusercontent.com/assets/931655/11760837/d56c4066-a0ee-11e5-9674-93080b6dc993.png)

[2015-12-12 07:41] devxoul commented on #53
Hmm, how did you setup #59? It seemed work for me. (status bar and keyboard)

![simulator screen shot dec 12 2015 4 40 48 pm](https://cloud.githubusercontent.com/assets/931655/11760843/1d53979e-a0ef-11e5-9845-0779fa13ea54.png)

[2015-12-12 10:00] ArtworkAD commented on #53
@devxoul when the toast appears above the keyboard, close the keyboard, open it again and show another toast. You will notice that the toast now will be under the keyboard. It is strange, the first toast is always above the keyboard but the second is under it.

[2015-12-15 06:27] devxoul commented on #58
@suniljakhar, what did you mean 'screen become black'?
It'll be more easy to understand if there's a screenshot. :smile:

[2015-12-15 06:29] devxoul commented on #53
@ArtworkAD, thank you for waiting. #60 could be the solution for the problem!

[2015-12-21 11:03] ArtworkAD commented on #53
@devxoul :+1: it works :smile: please merge and release!

[2015-12-21 11:03] #53 closed

[2015-12-21 13:33] devxoul commented on #53
@ArtworkAD Released [1.3.4](https://github.com/devxoul/JLToast/releases/tag/1.3.4)

[2015-12-22 09:39] suniljakhar commented on #58
I think UIWindow is not there for a time being on rotation. You can try yourself in demo project also. First let the toast message display and then rotate the device to see the issue.

[2015-12-23 05:18] devxoul commented on #58
@suniljakhar, did you mean this 'black' background?

![simulator screen shot dec 23 2015 2 16 56 pm](https://cloud.githubusercontent.com/assets/931655/11971373/ed62f414-a97f-11e5-9764-7f13f7a3678b.png)

[2015-12-23 07:38] suniljakhar commented on #58
No

[2015-12-23 09:37] suniljakhar commented on #58
PFA.....
![simulator screen shot 23-dec-2015 3 05 18 pm](https://cloud.githubusercontent.com/assets/14994690/11974085/c8d17236-a986-11e5-9b28-704b3f470a0d.png)

[2015-12-23 09:37] suniljakhar commented on #58
![simulator screen shot 23-dec-2015 3 05 28 pm](https://cloud.githubusercontent.com/assets/14994690/11974088/ddae7a50-a986-11e5-999f-938697f4c50d.png)

[2015-12-23 09:52] devxoul commented on #58
Which version of JLToast and iOS did you test with?

[2015-12-24 03:57] itlijunjie commented on #55
Changing current JLToastView and JLToastWindow frame by observer UIApplicationDidBecomeActiveNotification.
Using JLToastWindow.sharedWindow.frame.size in JLToastView.updateView().

[2015-12-29 07:42] suniljakhar commented on #58
JLToast latest one and iOS 8.4 and above with swift.

[2016-01-04 10:50] suniljakhar commented on #58
Any update.....?

[2016-01-04 12:28] #58 closed

[2016-01-04 12:30] devxoul commented on #58
@suniljakhar, sorry for delay! #64 fixes the issue, and this will be shipped with 1.3.5 release :)

[2016-01-04 12:35] suniljakhar commented on #58
Thanks!!!!!!

[2016-02-03 20:25] dlr2 opened #65 "ITMS-90362 error on itunes upload"
Nevermind, I fixed this issue ... Not sure how to delete the issue entirely though.

[2016-02-04 09:39] devxoul commented on #65
@dlr2, could you please tell me more about your issue?

[2016-02-04 14:08] dlr2 commented on #65
The problem was that the SK version was set to 7.0 - but had to be at least
8.0 to iTunes upload. I fixed it right after I posted but I did not know
how to delete the whole issue. Sorry.

On Thu, Feb 4, 2016 at 4:39 AM, Suyeol Jeon <notifications@github.com>
wrote:

[2016-02-04 17:04] devxoul commented on #65
How did you install JLToast?

[2016-02-05 14:27] dlr2 commented on #65
As a pod for an iOS SDK9 app. But the pod installed citing SDK 7 - I
changed that and it worked fine.

On Thu, Feb 4, 2016 at 12:04 PM, Suyeol Jeon <notifications@github.com>
wrote:

[2016-02-05 14:45] devxoul commented on #65
@dir2, Which did you mean: 'SDK' or 'Minimum Deployment Target'?

[2016-02-08 16:11] dlr2 commented on #65
Oh right I meant - Minimum Deployment Target - sorry

On Fri, Feb 5, 2016 at 9:45 AM, Suyeol Jeon <notifications@github.com>
wrote:

[2016-02-08 17:30] devxoul commented on #65
@dir2, you cannot install Swift libraries via CocoaPods if your Minimum Deployment Target is 7. For details, see the [CocoaPods blog post](http://blog.cocoapods.org/CocoaPods-0.36/).

If you want to use JLToast in iOS 7 projects, consider using [CocoaSeeds](https://github.com/devxoul/CocoaSeeds). You can follow the [instruction on README](https://github.com/devxoul/JLToast#installation)

[2016-02-12 04:00] goodsogi opened #66 "설치법이 어떻게 되나요?"
안녕하세요. 초보 아이폰 개발자입니다.

어떻게 설치해야 하나요? Podfile을 하나 만들어서 pod 'JLToast', '~> 1.3'를 입력하고 터미널에서 pod install을 입력했습니다. Pods폴더안에 JLToast 파일들은 들어갔는데 ViewController에서 JLToast.makeText("Basic JLToast").show()를 입력하니 JLToast를 찾을 수 없다고 하네요.

뭐가 잘못된 걸까요? 도움 부탁드립니다.

[2016-02-12 07:06] devxoul commented on #66
안녕하세요.
파일 상단에 프레임워크를 임포트하는 구문을 작성해주셔야 합니다.

[code]

그리고, 이곳은 한국어 사용자들만을 위한 공간이 아니기 때문에 다음부터는 영문으로 작성해주시면 감사하겠습니다.

[2016-02-12 08:09] goodsogi commented on #66
I wrote "import JLToast" on view controller file. Xcode tells me No such model 'JLToast'.

I use Xcode version 7.2.1, Swift 2.0 and OSX El Capitan.

[2016-02-12 08:12] goodsogi commented on #66
No such Module. And Cocoapods version is 0.39.0.

[2016-02-12 08:27] devxoul commented on #66
@goodsogi, are you working with **`YourApp.xcodeproj`** file? If true, you should use **`YourApp.xcworkspace`** file instead.

[2016-02-12 08:38] goodsogi commented on #66
I opened myApp.xcworkspace. This time Xcode tell me Can not load underlying module for 'JLToast'.

[2016-02-12 08:39] devxoul commented on #66
@goodsogi, Which minimum deployment target version of your project?

[2016-02-12 08:39] goodsogi commented on #66
I tried deployment target 9.2 and 8.0. Same result.

[2016-02-12 08:43] devxoul commented on #66
Did you add `use_frameworks!` to your Podfile?

[2016-02-12 08:46] goodsogi commented on #66
Yes I did.

I have no problem with other libraries: Google map, Alamofire, etc using Cocoapods.

[2016-02-12 09:00] devxoul commented on #66
It seemed not a JLToast issue but Xcode issue. Have you tried clean build?

[2016-02-12 09:10] goodsogi commented on #66
Yes I did.

Have you tried you library at Xcode 7.2.1?

[2016-02-12 09:10] devxoul commented on #66
I'm using 7.2.1

[2016-02-12 09:17] devxoul commented on #66
If clean build doesn't work, try building your project first **without** using any JLToast in your code.

Related discussions:

- https://github.com/Alamofire/Alamofire/issues/441
- https://github.com/Alamofire/Alamofire/issues/122

[2016-02-12 09:34] goodsogi commented on #66
Ok I tried clean build folder. Now it works. Thanks.

[2016-02-12 09:40] devxoul commented on #66
Cool :smile::+1:

[2016-02-12 09:40] #66 closed

[2016-02-19 03:47] andreswebde commented on #48
I don't see it as any issue actually, i am an android developer and it this is the most exact android toast i've ever seen, thanks a lot man, saved my day since i am new to swift!!

[2016-03-22 09:22] CenoX opened #68 "SWRevealViewController 와의 UIbarStyle 문제"
SWRevealViewController ( [https://github.com/John-Lluch/SWRevealViewController](https://github.com/John-Lluch/SWRevealViewController)) ) 로 만든 frontView와 rearView 에서의 UIBarStyle 의 속성 값이 다를 때 Front(.Black) 와 Rear(.Default) 를 오갈 때 statusBar 가 자동으로 스타일을 변경합니다만, 뷰 내에서 JLToas를 통한 toast 를 한번이라도 띄울 시, Rear 뷰의 statusBar 가 Front 뷰의 statusBar 속성값으로 고정됩니다.

사진을 첨부할 곳이 없어 개인 블로그로 사진첨부를 대신 하겠습니다
[http://ceno-lo

[2016-03-22 12:43] devxoul commented on #68
statusbar 와 관련된 #53 이슈는 확인해보셨는지요? 만약 다른 문제라고 판단되시면, 1) 사용중인 JLToast 버전과, 2) 버그를 쉽게 재현할 수 있는 예시 프로젝트를 만들어서 공유해주시면 빠른 문제 해결에 도움이 될 것 같습니다.

참고로, GitHub Issue 작성시에는 이미지 파일을 에디터에 드래그 앤 드랍하여 이미지를 첨부할 수 있습니다. 그리고 작성해주신 URL들은 잘못된 곳으로 링크되어있습니다.

덧붙여서, 이곳은 한국어 사용자들만을 위한 공간이 아닙니다. 되도록이면 영문으로 작성해주시면 감사하겠습니다.

[2016-03-22 21:36] sshadmand opened #69 "Using .show() adds status bar to my non-status bar using app."
Here's a screenshot of how the status bar was added to my app after calling .show().

https://www.evernote.com/l/AA4c-N9TxclOrZCqYGBQWsWAxb7aFqAOpnY

Is there a way to tell JLToast not to apply the status bar to the view when displaying?

Note: My views all have

[code]

implemented.

[2016-03-23 04:38] CenoX commented on #68
(영어가 미숙한 점 죄송합니다.)
I used 'JLToast' with CocoaPods with version (1.3.5).
[Link](https://github.com/CenoX/SampleProj) Here is the sample project with errors that I said.

App's UIBarStyle is .Default option and the main view's UIBarStyle is .Black.
When I call JLToast, It seems the main view's UIBarStyle overrides the whole app's UIBarStyle.

[2016-03-24 02:27] yybutcher commented on #69
JLToastWindowRootViewController ->
add:

[code]

[2016-03-24 20:05] devxoul commented on #69
@sshadmand, #70 will fix it. I'll make a new release soon. (Thanks to @yybutcher)

[2016-03-24 20:06] #69 closed

[2016-03-25 16:17] devxoul commented on #68
@CenoX, thanks for understanding. It looks more complicated issue that I first thought. I'll take a look for it. Thanks for reporting!

[2016-04-04 19:24] uknowmeright commented on #40
here is some code that might help. It doesn't work in every situation but it might help you develop something fully functional:

`    var toasts = [JLToast]()

    func removeTheToast(toast: JLToast){
        for theToast in self.toasts{
            if theToast != toast {
                theToast.finish()
                theToast.view.removeFromSuperview()
            }
        }
    }`

[2016-04-05 10:16] ivanruizscm opened #72 "swift 2.2?"
There will be a release for swift 2.2?

[2016-04-05 10:20] devxoul commented on #72
@ivanruizscm, JLToast currently works perfectly with Swift 2.2. I'll make a new release to get rid of deprecation warnings as soon as possible :)

[2016-04-05 10:24] ivanruizscm commented on #72
Yes, i'm getting warnings in travis:
Compiling JLToastCenter.swift
⚠️  /Users/travis/build/scmspain/next-visit-ios/Pods/JLToast/JLToast/JLToastCenter.swift:40:23: use of string literal for Objective-C selectors is deprecated; use '#selector' instead
            selector: "deviceOrientationDidChange:",
                      ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~
▸ Compiling JLToastView.swift
▸ Compiling JLT

[2016-04-11 06:45] devxoul commented on #68
Hi, thank you for waiting. #73 can fix the problem. You can test it by updating your [SampleProj's **`Podfile`**](https://github.com/CenoX/SampleProj/blob/master/Podfile):

[code]

Please try it and let me know if it works or not :)

[2016-04-11 06:53] #65 closed

[2016-04-11 07:26] devxoul commented on #56
Close this issue due to no response. Please re-open if you're available to reproduce the issue :)

[2016-04-11 07:26] #56 closed

[2016-04-11 07:27] devxoul commented on #48
@andreswebde, thanks. I'm trying to make JLToast to follow the interface of Android's Toast :)

[2016-04-11 07:27] #48 closed

[2016-04-11 07:28] devxoul commented on #40
Hey guys, thanks for waiting. #74 might help.

[2016-04-11 07:40] #40 closed

[2016-04-11 11:03] CenoX commented on #68
Thank you for your hard working!!
I've done testing with your new options, and it works perfectly as I want.

Separately, making issues in github was first time for me, and I want thank you for your advice about using github.

![simulator screen shot 2016 4 11 7 55 48](https://cloud.githubusercontent.com/assets/5639358/14425078/993507c8-001f-11e6-9eea-8983181c20e2.png)
![simulator screen shot 2016

[2016-04-11 16:05] devxoul commented on #68
@CenoX, glad to hear that :) I'll merge the PR and make a new release (maybe 1.4.0) soon.

[2016-04-11 16:21] #68 closed

[2016-04-11 17:27] #55 closed

[2016-04-11 17:28] devxoul commented on #72
@ivanruizscm, thank you for waiting. #75 resolves it :)

[2016-04-11 17:29] #72 closed

[2016-04-11 17:29] devxoul commented on #55
@itlijunjie, #76 fixes it. I'll soon make a new release :)

[2016-04-12 01:54] itlijunjie commented on #55
👍

[2016-04-13 07:16] ivanruizscm commented on #72
awesome!

[2016-04-13 07:18] devxoul commented on #72
@ivanruizscm, #75 has been shipped in 1.4.0 release :smile:

[2016-04-27 21:05] JuanPabloBoero opened #78 "Not releasing notification observer"
As per Apple docs, you should release observers on deinit, in JLToastCenter.swift:

[code]

[2016-05-08 07:47] devxoul commented on #78
@JuanPabloBoero, `JLToastCenter` is designed to be a singleton object. The instance should not be deinitialized.

[2016-05-08 07:47] #78 closed

[2016-05-11 05:29] SSamanta opened #79 "Toast is showing vertically in Landscape iPad"
![error](https://cloud.githubusercontent.com/assets/3451021/15170844/4a7cca76-1767-11e6-987e-7f57000b6b97.png)

[code]

[2016-05-12 07:16] devxoul commented on #79
@SSamanta, thanks for report! I'll take a look soon. Which version of iPad are you using?

[2016-05-12 07:18] SSamanta commented on #79
iPad Air

[2016-05-12 07:22] devxoul commented on #79
And iOS version please :)

[2016-05-12 07:34] SSamanta commented on #79
Latest ios 9.3.1. My apps orientation mode only landscape left or right

[2016-05-13 04:29] 24601 commented on #79
+1. This is happening on iPad Pro (12.1") as well as in Simulator.

Seems to have happened from the last time I updated JLToast.

[2016-05-13 04:30] SSamanta commented on #79
yes. Before it was working correctly.

[2016-05-13 18:52] devxoul commented on #79
@SSamanta, are you not using LaunchScreen?

<img width="498" alt="screen shot 2016-05-14 at 3 52 09 am" src="https://cloud.githubusercontent.com/assets/931655/15258568/41200336-1987-11e6-8104-7ec80c265184.png">

[2016-05-13 19:05] devxoul commented on #79
@SSamanta, Could you please try with `ipad-orientation-launchscreen` branch? If you're using CocoaPods, you can just edit your **`Podfile`**:

[code]

and install

[code]

[2016-05-13 20:48] 24601 commented on #79
@devxoul - we use a LaunchScreen and I updated to the ipad-orientation-launchscreen branch and the issue still exists.

[2016-05-14 05:48] devxoul commented on #79
@24601, could you please provide me a sample project that I can test with?

[2016-05-16 02:02] SSamanta commented on #79
@devxoul I tried LaunchScreen and pod 'JLToast', :git => 'https://github.com/devxoul/JLToast', :branch => 'ipad-orientation-launchscreen'
end both..same issue it's showing in vertically..I am trying to make one sample app..

[2016-05-18 08:03] willyjl commented on #79
This bug also happens on my code and the cause is due to `statusBarOrientation` is deprecated, based on https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplication_Class/#//apple_ref/c/tdef/UIInterfaceOrientation

Whenever the following code is run in JLToastView on landscape orientation and iOS 9.3:

[code]

The conditional always goes to portrait, never landscape.

[2016-05-19 06:24] willyjl commented on #79
I have found the root causes. If you select all device orientations and tap Off `Requires full screen`, it works fine. But if you either deselect any of device orientations or tap On `Requires full screen`, this bug happens.

[2016-05-19 06:26] SSamanta commented on #79
Ohoo my requirement is landscape and full screen so second case . Are there any way to fix that?

[2016-05-19 06:56] devxoul commented on #79
@SSamanta @24601 @willyjl Could you guys please replace `shouldRotateManually` property of the `JLToastWindow` with the code above and try again?

[code]

I hope it works 🙏

[2016-05-19 09:20] willyjl commented on #79
Yup, I tried your solution and it works. Good job @devxoul! Thanks for the quick response. 👍

[2016-05-20 09:41] #79 closed

[2016-05-20 09:46] devxoul commented on #79
@SSamanta @24601 @willyjl I just released [1.4.1](https://github.com/devxoul/JLToast/releases/tag/1.4.1)! If it has problem, please reopen this issue :smile:

[2016-05-25 13:05] suniljakhar opened #81 "Toast message view did not rotate on iPad mini."
In iPad mini (iOS 9.3.1), when we rotate device from portrait to landscape mode, toast message did not rotate with latest version of JLToast(1.4.1). In older JLToast(1.0), it is working fine. In iPad air the version of JLToast(1.4.1) also working as expected. Please find attach screenshot for more reference.

![img_0079](https://cloud.githubusercontent.com/assets/14994690/15540666/448b5778-22a6-11

[2016-05-25 15:07] devxoul commented on #81
@suniljakhar, Thank you for report. Could you please let me know these:

0. Are you using LaunchScreen?
0. What is your orientation option & fullscreen requirement?

    This is an example:

    ![](https://cloud.githubusercontent.com/assets/263351/15384468/6a5ae4a6-1dcd-11e6-99c6-27087b334791.png)

Or you can provide your **`Info.plist`** file.

I think I have to reopen #79

[2016-05-27 06:21] suniljakhar commented on #81
Please find my answers
1. Yes
2.
![screen shot 2016-05-27 at 11 46 18 am](https://cloud.githubusercontent.com/assets/14994690/15599440/d8b335a0-2400-11e6-98eb-8500b6842d98.png)

[2016-05-27 09:46] devxoul commented on #81
@suniljakhar, Thanks. I'll have a look for it soon :)

[2016-05-27 10:50] suniljakhar commented on #81
@devxoul Please look for it ASAP.

[2016-05-27 15:04] devxoul commented on #81
@suniljakhar, can you reproduce the bug with iPad Simulator?

[2016-05-31 13:41] suniljakhar commented on #81
Sorry for late reply, this issue is only reproducible on iPad mini(i.e older one). If you can arrange from somewhere that would be good, otherwise i will create a sample to reproduce it and send it to you.

[2016-06-01 02:27] devxoul commented on #81
@suniljakhar, That's odd. Could you reproduce the bug in iPad Simuator?

[2016-06-01 07:09] suniljakhar commented on #81
@devxoul  I have imported JLToast as 'github "devxoul/JLToast" ~> **1.4**' in Cartfile. Is it ok.
Please find attached sample project. In this sample, i am able to produce this issue in iPad Retina 9.3 simulator.
[scrollViewAmbigous-master 2.zip](https://github.com/devxoul/JLToast/files/292815/scrollViewAmbigous-master.2.zip)

[2016-06-02 06:13] devxoul commented on #81
@suniljakhar, Thanks! I can reproduce the bug. It either occurs in iPad Pro 9.3 too. I'll check this as soon as possible.

[2016-06-02 07:22] suniljakhar commented on #81
Thanks! Please look for it ASAP.

[2016-06-03 10:35] suniljakhar commented on #81
@devxoul Did you get time to look for it?

[2016-06-04 13:31] devxoul commented on #81
I think I need more time to investigate this issue. This is very odd :(

[2016-06-10 05:25] suniljakhar commented on #81
@devxoul
What's the status of this?

[2016-06-10 05:34] devxoul commented on #81
@suniljakhar, There hasn't been much progress.

[2016-06-10 05:49] suniljakhar commented on #81
@devxoul
It would be good for us, if you can look for it on priority because we are almost ready to release the product.

[2016-06-10 05:52] devxoul commented on #81
@suniljakhar, If you have don't have much time, I think you could use older version instead. My first priority is company work 😅

[2016-07-08 04:41] ldiqual opened #84 "JLToast is not compatible with Swift 3"
Compiling with Xcode 8 beta 1 will generate 97 issues. It would be awesome to have a `swift-3.0` branch that we could clone from.

[2016-07-09 05:54] devxoul commented on #84
That sounds great. I'll create a `swift-3.0` branch and let others can contribute :smile:

[2016-09-14 10:41] ivanruizscm opened #90 "Cant install Toaster for Swift 3"
ivan.ruiz$ pod install
Analyzing dependencies
Pre-downloading: `Toaster` from `https://github.com/devxoul/JLToast.git`
[!] Unable to find a specification for 'Toaster'.

    pod 'Toaster'

[2016-09-14 10:44] ivanruizscm commented on #90
if i add the git source:
    pod 'Toaster', :git => 'https://github.com/devxoul/Toaster.git'
I get:
AFE0806015:ios-if--app-next-visit ivan.ruiz$ pod install
Analyzing dependencies
Pre-downloading: `Toaster` from `https://github.com/devxoul/Toaster.git`
Username for 'https://github.com':

[2016-09-14 14:40] awclives commented on #90
Same issue here.

[2016-09-14 16:09] devxoul commented on #90
I just uploaded 'Toaster' to CocoaPods. Please try again with **`Podfile`**:

[code]

[2016-09-14 16:33] devxoul commented on #84
#89 is merged. Close issue.

[2016-09-14 16:33] #84 closed

[2016-09-14 16:33] #90 closed

[2016-09-14 16:45] awclives commented on #90
great, thanks!  love the Toaster.

[2016-09-16 09:26] shobhz opened #91 "Support for Swift 2.3"

[2016-09-16 14:26] devxoul commented on #91
@shobhz, I created a branch [swift-2.3](https://github.com/devxoul/Toaster/tree/swift-2.3). I hope somebody could contribute :)

[2016-10-11 19:52] r3nar commented on #81
Same behavior with iPad 2 - iOS 9 only

[2016-10-14 11:08] #91 closed

[2016-11-18 05:05] isaced opened #94 "Keyboard no response when toaster show"
`ToastWindow` Will become `keyWindow`, resulting in the keyboard does not respond

[2016-11-19 06:29] kirayamato1989 commented on #94
when begin editing an UITextField then call the toast.show() may case the UITextField can't input next time

[2016-11-20 14:35] devxoul commented on #94
@isaced, how can I reproduce the bug?

[2016-11-21 04:04] isaced commented on #94
For the time being I can not find a way to reproduce, but in my other project, there is always the same problem, the same code put in a new empty project and no problem.

I use both PKHUD and Toaster

[code]

[code]

So, close this issue for the time being

[2016-11-21 04:05] #94 closed

[2017-01-03 14:26] Burtan commented on #81
I've also faced this issue on iPad3 iOS 9.3

[2017-01-16 18:15] jmbello opened #96 "offset when using tab bar"
Where can I customize toast position? this will be helpful when using tab bars, because toast shows over tab bar. Thanks

[2017-01-17 05:03] devxoul commented on #96
Of cource. You can see `bottomOffsetPortrait` and `bottomOffsetLandscape` from https://github.com/devxoul/Toaster#appearance

[2017-01-17 11:52] jmbello commented on #96
Oh, thanks, can't believe I didn't understand at first

[2017-01-17 11:52] #96 closed

[2017-01-25 18:00] SnitramDev commented on #81
Any news on this?

[2017-01-25 18:49] devxoul commented on #81
Not yet. I don't have much time too deal with this issue. I hope someone could contribute :)

[2017-03-23 17:22] jsiddharth opened #100 "Installed the Pod yet getting an error on import"
Inserted   `pod 'Toaster', '~> 2.0'` in the Podfile

Called `pod install`

Inserted `import Toaster`

No such module `Toaster`

[2017-03-24 06:47] devxoul commented on #100
@jsiddharth can you please share the sample project with me?

[2017-03-24 07:21] jsiddharth commented on #100
I had to manually add the Toaster pod to `Linked Frameworks and Libraries`.

[2017-03-24 07:22] jsiddharth commented on #100
Please mark this resolved.

Thanks
Siddharth

On Fri, Mar 24, 2017 at 12:17 PM, Jeon Suyeol <notifications@github.com>
wrote:

[2017-03-24 07:24] #100 closed

[2017-03-25 18:24] xiang193 opened #101 "Library not loaded:"
dyld: Library not loaded: @rpath/Toaster.framework/Toaster
  Referenced from: /Users/xiang/Library/Developer/CoreSimulator/Devices/7E976FF1-33C4-437A-B562-B13CED4E674A/data/Containers/Bundle/Application/461DCDD6-7AF6-4A0A-8A72-B67C8B112CF5/SwiftDemo.app/SwiftDemo
  Reason: image not found

[2017-03-25 19:15] xiang193 commented on #101
ToastView.appearance().backgroundColor = .white
 Toast(text: "Hello, world!", duration: Delay.long).show()

[2017-03-26 02:46] #101 closed

[2017-05-10 18:47] sudhanshutil opened #102 "How to show toast on top instead of bottom of screen."

[2017-05-12 16:57] victorlsn opened #103 "Random crash when calling ActionSheetDialog"
Sometimes when I try to call a ActionSheetDialog on my app, the app crashes.
As I don't know what causes the crash (sometimes it happens, sometimes it doesn't) I can't reproduce it with precision. But the part of the code that is crashing the app is in the Toaster Library, on this part:

  override open var rootViewController: UIViewController? {
    get {
      guard !self.isStatusBarOrientationC

[2017-05-12 17:10] victorlsn commented on #103
I believe this is related to this pull:
https://github.com/devxoul/Toaster/pull/98

[2017-05-16 05:45] devxoul commented on #102
This is not yet supported.

[2017-05-16 05:51] devxoul commented on #103
@victorlsn, can you try with the code:

[code]

[2017-05-19 01:20] hyeongyun0916 opened #104 "objective c 지원 여부"
objective c는 지원 안하나요?
makeText는 지원 안한다고 init을 쓰라하는데 사용법을 잘 모르겠습니다.

[2017-05-19 06:41] devxoul commented on #104
Objective-C는 공식적으로 지원하지는 않습니다만 아래와 같이 사용할 수는 있습니다.

[code]

공식적으로 Objective-C가 지원되는 버전을 찾으신다면 [1.4.2](https://github.com/devxoul/Toaster/tree/1.4.2) 버전을 확인해주세요. 참고로 이 때에는 이름이 `JLToast`였기 때문에 `pod 'JLToast' ~> '1.4'`와 같이 사용해야 합니다.

[2017-05-19 08:37] hyeongyun0916 commented on #104
감사합니다.
initWithText: duration: 는 찾을 수 없어서
[[[Toast alloc] initWithText:@"Hello, world!" delay:.0f duration:.5f] show];
로 해결하였습니다.^^

[2017-06-01 18:53] Pedroalexandrelopes commented on #102
I think you can use something like this:
`let marginTop:CGFloat = 80.0
        ToastView.appearance().bottomOffsetPortrait = max(UIScreen.main.bounds.width, UIScreen.main.bounds.height) - marginTop
        ToastView.appearance().bottomOffsetLandscape = min(UIScreen.main.bounds.width, UIScreen.main.bounds.height) - marginTop`

[2017-06-08 05:13] asrivastav973 opened #107 "Toaster.Toast went isFinished=YES without being started by the queue it is in"
This happens randomly in my app when switching to and fro screens which show toast after getting an api response.

[2017-06-08 16:58] devxoul commented on #107
@asrivastav973 Hmm, could you reproduce the bug in the new project?

[2017-06-09 03:44] asrivastav973 commented on #107
I will try to reproduce this bug in a new project and then share with you.

[2017-06-09 04:56] devxoul commented on #107
Thanks :+1:

[2017-06-12 07:20] mn288 opened #108 "Crash"
While on iPad simulator I received this crash:

[2017-06-12 07:32] devxoul commented on #108
@mn288, can you reproduce the bug?

[2017-06-12 07:35] mn288 commented on #108
not really, its completely random, but at least I got this capture.
It has been driving me crazy.

This is what I can help you with:

I have callbacks from the server, I have a tabor controller with 3 views, if I switch between them all, sometimes it crashes and sometimes it doesn't.

[2017-06-12 07:37] devxoul commented on #108
@mn288, hmm. Was that on main thread?

[2017-06-12 07:37] #104 closed

[2017-06-12 07:39] devxoul commented on #103
Fixed in #106

[2017-06-12 07:39] #103 closed

[2017-06-12 07:43] mn288 commented on #108
the Toast? I don't call it from main thread or anything, I call it from the view after creating an extension calling it like

where displayToast is an extension of UIVIew as follows

[code]

[2017-06-12 07:54] #107 closed

[2017-06-12 07:54] devxoul commented on #107
@asrivastav973, this is fixed in #109 and will be released :)

[2017-06-12 08:15] devxoul commented on #108
@mn288, I think #110 could resolve this issue but I'm not 100% sure because I couldn't reproduce it. 🤔

[2017-06-12 08:18] #108 closed

[2017-06-12 08:21] devxoul commented on #108
I just released [2.0.4](https://github.com/devxoul/Toaster/releases/tag/2.0.4). Please reopen this issue if this issue still occurs :)

[2017-06-12 08:44] mn288 commented on #108
Trying it now. Thanks :) ill reopen this issue if the problem remains

[2017-06-12 10:22] asrivastav973 commented on #107
Thanks brother 👍

[2017-06-13 20:45] ldiqual opened #111 "[2.0.4] cancelAll() doesn't cancel toasts immediately"
We're running a bunch of unit tests which ensure that toasts show with a specific message. After ensuring that the toast shows, we cancel all toasts so that the next test doesn't mess with a previously shown toast. It looks like this:

[code]

With 2.0.3, the assertions above run smoothly. With 2.0.4, `ToastCenter.default.currentToast` is **not** `nil`. Here's the diff: https://github.com/devxoul/

[2017-06-14 07:06] devxoul commented on #111
I should have written tests :'( I'll check this soon. Thanks for reporting!

[2017-06-26 13:24] stasivanov opened #113 "Appearance properties names"
Can we rename properties names to has some prefix like `ts_cornerRadius`, or something like that?

I have an issue with combining this pod with other pods, that have, for example, `cornerRadius` declared for UIView, and I get `Ambiguous use of ...`

[2017-07-04 08:14] iad24 opened #114 "is attributedText supported?"

[2017-07-06 11:25] devxoul commented on #114
This is not supported yet.

[2017-08-01 10:29] kenias opened #115 "error is accrue"
error.
show command is

Make a symbolic breakpoint at UIViewAlertForUnsatisfiableConstraints to catch this in the debugger.
The methods in the UIConstraintBasedLayoutDebugging category on UIView listed in <UIKit/UIView.h> may also be helpful.
2017-08-01 19:17:29.219 ysmobile[619:63986] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSOperationInternal

[2017-08-01 10:34] #115 closed

[2017-08-30 00:09] ldiqual opened #117 "Toast appears behind keyboard on iOS 11"
https://drive.google.com/file/d/0Bys2UYWmcgc0T1l5cDJZcDJDejA/view

[2017-09-21 02:57] supercartoon commented on #117
T.T

[2017-09-22 07:57] vikasgore commented on #117
Any solution?

[2017-09-26 15:45] frakman1 commented on #102
Thank you @Pedroalexandrelopes. Where would I put this code exactly?

[2017-09-27 00:11] Pedroalexandrelopes commented on #102
You use this on application or ViewController startup

[2017-10-04 06:50] Mahan3340 commented on #117
Same here

[2017-10-09 02:27] JqyModi opened #120 "JLToast renamed the Toaster, Swift2.3 compatible upgrade to 3.0?"
JLToast renamed the Toaster, Swift2.3 compatible upgrade to 3.0?

[2017-10-09 05:53] devxoul commented on #120
Yes. #89

[2017-10-10 09:46] raj-zealous commented on #117
Same thing Happen .any idea ?

[2017-10-10 09:47] raj-zealous commented on #117
same thing happing

[2017-10-10 14:49] Mahan3340 commented on #117
not yet unfortunately I'm using this lib for now till this one get fixed
https://github.com/scalessec/Toast-Swift

[2017-10-11 05:02] raj-zealous commented on #117
Hey, Mahan Got Solution. just  Replace the code with **ToastWindow.shared.addSubview(self.view**) to **UIApplication.shared.windows[UIApplication.shared.windows.count - 1].addSubview(self.view)** top most window.

[2017-10-11 07:35] Mahan3340 commented on #117
@raj-zealous I did so but now its not showing any toast at all :-/

[2017-10-12 13:33] picturehit opened #122 "Main Thread Checker"
Hello guys,

After migrating to ios11 and Xcode 9, I have a warning for each toast :

Main Thread Checker: UI API called on a background thread: -[UIView init]
PID: 57662, TID: 5080800, Thread name: (none), Queue name: NSOperationQueue 0x600000425b20 (QOS: UNSPECIFIED), QoS: 0

The warning disappear if I add DispatchQueue.main.async(execute: { () -> Void in when I call the toast but I need to add

[2017-11-01 09:26] #111 closed

[2017-11-30 11:26] andyHa commented on #117
@raj-zealous @Mahan3340 It fixed the problem in my case - could you please update the code - or do you want me to supply a PR?

[2017-12-01 06:30] devxoul commented on #117
Hey guys, sorry for delay. #124 is a patch for this issue. Please try and let me know if it works!

**Podfile**

[code]

then

[code]

[2017-12-07 13:11] Mahan3340 opened #125 "Crash on Keyboard Dismissed"
I show a toast when keyboard is open then when i want to dismiss the keyboard the app will crash , and the reason is setting alpha to a nil view in Toaster.swift file around line 134

[2017-12-08 02:15] tusecani commented on #117
I have updated to ios-11-above-keyboard and have a problem
it shows toast over keyboard but it crashes when keyboard dismissed. (self.view.endEditing(true))

[2017-12-08 05:06] devxoul commented on #117
@tusecani can you share how can I reproduce the bug?

[2017-12-08 05:23] Mahan3340 commented on #117
same here for keyboard crash ++

[2017-12-08 07:17] devxoul commented on #117
@tusecani @Mahan3340 Thanks for reporting. I could reproduce the same bug. I'm currently look for it. I'll update a PR after finding a solution!

[2017-12-15 07:29] Mahan3340 commented on #117
@devxoul Hey, I'll appreciate that if you could fix this sooner as we are about to release a version soon  😄

[2018-01-01 12:10] hcstudt opened #126 "Swift 4 generate @objc inference warning"
It seems that the use of Swift 3 @objc inference in Swift 4 mode is deprecated.
I get the warning message I recieve:
The use of Swift 3 @objc inference in Swift 4 mode is deprecated. Please address deprecated @objc inference warnings, test your code with “Use of deprecated Swift 3 @objc inference” logging enabled, and then disable inference by changing the "Swift 3 @objc Inference" build setting t

[2018-01-02 18:58] devxoul commented on #126
It is `Default` at this time.

<img width="660" alt="screen shot 2018-01-03 at 3 58 15 am" src="https://user-images.githubusercontent.com/931655/34495845-58af53f4-f03a-11e7-8968-dd1c434205d2.png">

How did you get that warning message?

[2018-01-16 11:15] dmitry-textmagic commented on #117
@tusecani is there any update on this issue? It would be great to see some solution, the current fix does not work at 11.2 unfortunately. Thanks!

[2018-01-19 14:03] devxoul commented on #117
I couldn't make enough spare time for this issue. Help is always welcomed.

[2018-02-08 14:31] ciccioska commented on #117
Hi, I can open a PR for this!

[2018-03-05 13:10] Tulakshana opened #128 "Accessibility (voice over)"
Do you have any plans of making this accessible? i.e. make voice over read the toast message

[2018-03-12 06:20] devxoul commented on #128
Awesome idea. However, I don't have enough spare time 😢 I'd really appreciate if you can PR :+1:

[2018-03-26 08:30] zeushin commented on #117
토스트가 사라진 이후에도 계속 key window가 ToastWindow인 상태로 남아 있는 경우가 있어 메인 window를 다시 key window로 교체한 후에 키보드가 잘 올라오는 것을 확인했습니다.
참고하여 수정해 주시면 될듯 합니다 : ]

아니면, 제가 조만간 PR을 생성해 볼게요!!

[2018-03-30 13:28] ricky641b opened #129 "Module compiled with 4.0.3 cannot be imported to 4.1"
![image](https://user-images.githubusercontent.com/6602305/38139259-486fbc62-344c-11e8-9ecb-003a329605ba.png)

[2018-03-30 14:16] #129 closed

[2018-06-06 15:38] #120 closed

[2018-06-06 18:01] Coeur commented on #117
After reviewing and testing everybody's solutions, I came up with a non-crashing, always working, solution: #135.

[2018-06-10 08:21] devxoul commented on #117
Hey guys, sorry for delay. I updated the implementation of #124. I'd be really appreciate if you can test it on your app. Unfortunately my machine doesn't work with iOS 9 simulator after upgrading my mac to macOS Mojave :(

[2018-06-15 07:40] Mahan3340 commented on #117
@devxoul tested it working fine in iOS 11.4 thanks

[2018-10-04 08:11] bob910078 commented on #122
I have the same problem of it.
I add a class function in class Toast.

    class func show(text: String?) {
        DispatchQueue.main.async {
            Toast(text: text).show()
        }
    }

And I use the method as following.

Toast.show(text: "One apple a day, keep doctor away")

[2018-10-18 21:53] johnflightsteter commented on #81
Also experiencing the exact same issue on an iPad 10.5 inch with iOS 12. Has there been a fix for this yet? Double checking to ensure I am not experiencing a new issue of some kind, or does something in the code need to be updated.

[2018-11-07 05:23] hr147 opened #139 "support required for swift 4.2"
Please fix library for swift 4.2

[2018-11-21 05:51] ZaidSA commented on #139
@devxoul Any updates on this?

[2019-01-14 03:11] Coeur commented on #139
@devxoul what are your plans for Toaster?

[2019-02-01 10:05] shahdhiren opened #140 "Any plan to update to cocoapod for Swift 4.2?"

[2019-03-27 22:09] anonym24 opened #143 "Could not build Objective-C module 'Toaster'"
![image](https://user-images.githubusercontent.com/8851301/55115671-c3905c80-50ed-11e9-959e-8a0a93971b2d.png)

[2019-03-27 22:11] anonym24 commented on #139
@hujiaju doesn't work
![image](https://user-images.githubusercontent.com/8851301/55115804-110cc980-50ee-11e9-9212-1ac56b0f5ab7.png)

[2019-03-27 22:12] anonym24 commented on #143
I don't want just for this library change something in my configuration

[2019-03-28 01:40] Coeur commented on #139
@anonym24 support for Swift 4.2 (and Swift 5.0) is available on the master branch, so you can simply do:
[code]

[2019-03-28 05:06] zhengyanfeng opened #144 "please update to support Swift 5.0"

[2019-03-29 08:29] devxoul commented on #144
Resolved by #145

[2019-03-29 08:29] #144 closed

[2019-03-29 15:31] anonym24 commented on #139
@Coeur well there is still issue about Objective-C

[2019-03-29 20:29] Coeur commented on #139
@anonym24 then it's not the right issue: you may want to create a separate issue, showing your Podfile, Podfile.lock and eventually a sample project demonstrating the problem. Also make sure you have [`use_frameworks!`](https://guides.cocoapods.org/syntax/podfile.html#use_frameworks_bang) or explain why you don't.

[2019-03-31 19:21] devxoul commented on #139
Toaster doesn't support Objective-C since 2.0.0. (#89) You may create a bridge class to support Objective-C in your project.

[code]

[code]

[2019-03-31 19:23] devxoul commented on #143
How did you install Toaster?

[2019-03-31 19:23] devxoul commented on #139
We can continue this thread on the duplicate: #143

[2019-03-31 19:26] devxoul commented on #140
[Toaster 2.2.0](https://github.com/devxoul/Toaster/releases/tag/2.2.0) supports both Swift 4.2 and 5.0 :)

[2019-04-01 00:42] Coeur commented on #143
Please show your Podfile, Podfile.lock and eventually a sample project demonstrating the problem. Also make sure you have [`use_frameworks!`](https://guides.cocoapods.org/syntax/podfile.html#use_frameworks_bang) or explain why you don't.

[2019-04-03 06:21] Coeur commented on #140
Support for Swift 4.2 (and Swift 5.0) is available on the master branch, so you can simply do:
[code]

[2019-04-03 06:43] Coeur commented on #126
The master branch doesn't suffer from that issue anymore at this time, so I'm closing that issue.

[2019-04-03 06:43] #126 closed

[2019-04-03 10:21] Coeur commented on #139
Version 2.2.0 was released and is compatible Swift 5.0 and Swift 4.2.

[2019-04-03 10:21] #139 closed

[2019-04-03 10:23] #140 closed

[2019-05-06 06:20] sharvareej opened #148 "JLToast in swift 4.2"
Ambiguous reference to member 'willChangeValue(for:)'

[2019-05-06 08:22] Coeur commented on #148
The name of the pod changed three years ago: https://github.com/devxoul/Toaster/commit/a7e77a74612c98b9c2954e7521842e4724c29828

[2019-05-14 02:12] #117 closed

[2019-05-14 02:23] Coeur commented on #125
Your issue refers to: https://github.com/devxoul/Toaster/blob/abbc037f422b9157c5488b7671ec76fc72549224/Sources/Toast.swift#L134

But `view: ToastView` is not nullable, so I don't see how it's possible. Please provide an [MCVE](https://stackoverflow.com/help/mcve) and we'll re-open the issue.

[2019-05-14 02:23] #125 closed

[2019-05-14 02:25] Coeur commented on #143
Well, please see my previous message and we'll reopen the issue if needed.

[2019-05-14 02:25] #143 closed

[2019-05-14 02:45] Coeur commented on #122
I believe we could just document that `Toast(text: text)` must be called on main thread, like for any UIKit class. Trying to do an asynchronous initialization to avoid that restriction would be kind of superfluous efforts.

[2019-05-14 02:50] Coeur commented on #113
Instead of a rename, I would prefer to remove our own `cornerRadius` property and make `backgroundView` public.

[2019-05-14 02:51] #148 closed

[2019-06-11 11:53] #122 closed

[2019-06-11 23:52] vitchor commented on #114
Hi, I've made the changes to support attributedText in my local project. Let me know if you'd like me to create a PR (or fork it).

[2019-06-12 00:07] Coeur commented on #114
@vitchor Pull Request is welcome.

[2019-06-12 00:27] vitchor commented on #114
Done :)

[2019-06-17 03:54] Coeur opened #151 "[information] Chrome now supports <toast>"
Slightly related to our project, Google Chrome has decided unilaterally to make `<toast>` a native HTML element: https://groups.google.com/a/chromium.org/forum/m/?#!msg/blink-dev/Gl7FIKM5IFw/tA70X9ZIBQAJ

Which means that when/if it will be supported by Safari/WebKit, people we'll be able to overlay a WKWebView that displays a `<toast>` with a native Apple look.

[2019-07-18 05:52] dumpzealousys opened #152 "Issue with UIImagePickerController"
We are using toaster from long time.
Now we are facing issue while working with UIImagePickerController. When we go for image picking from UIImagePickerController and after completed pickup we have to display toast message to user. When we show toast message it don't see to user but after some time when we open keyboard for UITextField, old toast messages come up on keyboard.

Please help to get o

[2019-07-18 14:43] Coeur commented on #152
We'll try to investigate. Note that a piece of code to reproduce the issue is even better. And testing different versions of Toaster would be nice to figure out which version/commit broke it, or if it has always been broken.

[2019-07-19 05:23] dumpzealousys commented on #152
Version : Toaster (2.2.0)

Code to reproduce :

func imagePickerController(_ picker: UIImagePickerController, didFinishPickingMediaWithInfo info: [UIImagePickerController.InfoKey : Any]) {

        let image = self.allowEditing ? info[UIImagePickerController.InfoKey.editedImage] as! UIImage : info[UIImagePickerController.InfoKey.originalImage] as! UIImage

        let fixedImage = UIImage(cgImage:

[2019-07-19 06:13] Coeur commented on #152
I can confirm the issue. I've added your code in the sample app (https://github.com/devxoul/Toaster/commit/f60746f88bbf11826701abfe6070343555b7a4c8), and now we just need to find a fix.

[2019-07-19 09:41] dumpzealousys commented on #152
Thanks Coeur for confirming. Let me know when you fixed.

[2019-07-23 07:25] minacle opened #153 "Could not build project using Toaster with CocoaPods on Xcode 11.0 beta 4 (11M374r)"
CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'Toaster' from project 'Pods')
        cd /Users/<REDACTED>/Developer/<REDACTED>/Pods
        export DEVELOPER_DIR=/Users/<REDACTED>/Applications/Xcode-11M374r.app/Contents/Developer
        export SDKROOT=/Users/<REDACTED>/Applications/Xcode-11M374r.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iP

[2019-07-23 13:29] Coeur commented on #153
This is a CocoaPods 1.7.4 issue, not a Toaster issue.
Please update to CocoaPods 1.7.5 that was recently released for compatibility with Xcode 11 beta 4.

[2019-07-23 13:29] #153 closed

[2019-07-25 04:38] cozzin opened #154 "Toast is invisible after presenting UIActivityViewController"
Hi, I tested it on develop branch.
After presenting a UIActivityViewController, a UIRemoteKeyboardWindow is created.
If you put the view on this window, it is invisible.
I don't know why the UIRemoteKeyboardWindow is created.

The current develop branch includes a feature that adds a view to the top-level window to avoid being hidden on the keyboard. So the Toast is not visible after the UIActivit

[2019-07-25 06:14] Coeur commented on #154
Likely similar to #152

[2019-07-25 12:33] cozzin commented on #154
#155 This PR solves the issue.

[2019-07-25 12:33] #154 closed

[2019-07-26 02:59] #152 closed

[2019-07-26 03:00] Coeur commented on #128
Done by @cozzin on default branch.

[2019-07-26 03:00] #128 closed

[2019-07-26 03:02] Coeur commented on #152
@dumpzealousys please try the master branch, and I'll make a release if it works for you.

[2019-08-06 11:15] Coeur commented on #114
Done by #157. Will be available in Toaster 2.3.0. Thank you @cozzin.

[2019-08-06 11:15] #114 closed

[2019-08-19 08:27] cozzin opened #166 "Status bar style is changed after ToastWindow appear."
I want to set status bar style as `.lightContent` in ViewController, but after showing Toast status bar style is changed to `.default`.

I think we should return `rootViewController` in `ToastWindow`.
Is there anyone who can explain about `isShowing` property?

[code]

[2019-08-19 09:43] cozzin commented on #166
Oh, I found this PR https://github.com/devxoul/Toaster/pull/150.

[2019-08-20 02:10] Coeur commented on #166
Yes, `isShowing` is a workaround for iOS 13 warnings regarding the UIWindow.rootViewController stack.

When I made #150, I attempted to preserve the statusbar style.

The current implementation is:
https://github.com/devxoul/Toaster/blob/fae2df311c768e87492f71610d77bfe6d98b2cc8/Sources/ToastWindow.swift#L43-L51

Are you having the statusbar issue with this code?

[2019-08-20 02:31] cozzin commented on #166
@Coeur Yes, I am struggling to solve status bar issue.

1. set status bar style in view controller
[code]

2. Show toast
[code]

3. Status bar style did change to `default`

[2019-08-22 05:03] #166 closed

[2019-08-24 16:37] cozzin commented on #81
@suniljakhar @r3nar @Burtan @lmsmartins @johnflightsteter
Is there anyone who can reproduce this bug on the current master branch(3c8673d14466beee879a150b3423aaac6900577a) basis?
If you have a project that reproduces this bug, please attach it.
Also, if you tell us the os version and device name, it will be very helpful.

[2019-08-27 12:01] cozzin opened #176 "Adjust toast position when keyboard appear"
Hi, currently we show toast on keyboard.
However, we have some matter that we have to control window level.

How about adjust top position of toast?
It will look like this.
![새 파일 2019-08-27 20 53 27_1](https://user-images.githubusercontent.com/11647461/63769342-8a168400-c90d-11e9-94fe-9768372982c8.jpg)
I will wait your opinion. thank you! 🙂

[2019-08-28 01:30] Coeur commented on #176
That would be an interesting optional feature. I think I've read before that some people would be indeed interested.

But we would still need the "above keyboard" option for the majority of people who want the toasts always visible and always at the bottom.

[2019-08-28 02:14] cozzin commented on #176
Okay, I understand. We have to keep "above keyboard" feature.
To apply this suggestion, I have to make it as optional choice.

[2019-08-28 03:25] wudijimao commented on #176
Great feature!!

[2019-08-28 03:27] wudijimao commented on #176
By the way,  I want to know next release version time. thanks!

[2019-08-28 05:32] Coeur commented on #176
@wudijimao it's impossible to make a release until we get @devxoul attention as he's the sole maintainer of the pod: https://cocoapods.org/pods/Toaster

[2019-08-29 16:38] cozzin commented on #81
@Coeur I think it's okay to close the issue now.
If anyone have the problem later, we can open this issue again.

[2019-08-30 04:24] Coeur commented on #81
@johnflightsteter Rotation seems to be working on our master branch Toaster official demo on Simulator iPad Pro 10.5 with iOS 12.4.
![Simulator Screen Shot - iPad Pro (10 5-inch) - 2019-08-30 at 12 20 54](https://user-images.githubusercontent.com/839992/63992900-ac342000-cb20-11e9-9e86-448e94bf0bd4.png)

Let us know in a new issue if there is a reproducible scenario where it doesn't work (physical

[2019-08-30 04:24] #81 closed

[2019-09-05 06:24] shawnclovie opened #179 "Would you like to support SPM?"
Since Xcode 11, we can use Swift Package Manager to manage most dependence for pure swift framework.

[2019-09-07 12:47] devxoul commented on #179
Of course, I am a big fan of Swift Package Manager. I will support SPM when I have a spare time. Thanks!

[2019-09-25 06:56] cozzin opened #180 "Scroll to top using status bar does not work in iOS 13"
![ScrollToTopIssue](https://user-images.githubusercontent.com/11647461/65577030-00aaae00-dfae-11e9-900e-7bfec7a2d26c.gif)

You can test on https://github.com/cozzin/Toaster/tree/feature/scrollToTopIssue

[2019-10-06 12:44] xissy commented on #180
Struggling with the same issue.

[2019-10-13 17:48] elvis-epx opened #182 "Message on show()"
[Window] Manually adding the rootViewController's view to the view hierarchy is no longer supported. Please allow UIWindow to add the rootViewController's view to the view hierarchy itself.

[2019-10-15 09:21] WXXXXH opened #183 "iOS13 上会导致状态栏的点击失效，直接的影响就是导致全局单击状态栏（tableView/collectionView）返回顶部失效"
v:2.2.0
iOS13

[2019-10-15 09:43] WXXXXH commented on #183
ToastWindow.shared.windowLevel = 10000  iOS 13 上虽然没有点击事件但是会阻止

[2019-10-16 11:35] WXXXXH commented on #183
解决方案：继承了Toast，重写main方法，add的时候显示ToastWin，dissmiss的时候 show

[2019-10-17 00:40] cozzin commented on #183
@WXXXXH Hi, do you mean we should only show `ToastWindow` when you have toast?

[2019-10-18 04:12] WXXXXH commented on #183
yes,you can test in iOS 13,if your project hava collectionView/tableView,，and Toast
.show(),then you will find click stateBar not scroll to top，

[2019-10-18 04:18] cozzin commented on #183
I'm struggling with same issue https://github.com/devxoul/Toaster/issues/180.
Do you know what causes this issue?

[2019-10-18 05:30] WXXXXH commented on #183
iOS 13 Bug，可能不允许多个UIwindow ，当系统检测到多个UIwindow的时候 事件会传递给另一个等级更高的？猜测。。。目前iOS13 字符串也有一些问题

[2019-10-18 06:06] cozzin commented on #183
Ok, I will test with multiple windows and other windowLevels.

[2019-10-22 06:14] AnitaVPN opened #184 "IOS 13 , Toast not showing"
It gives desc like this : Manually adding the rootViewController's view to the view hierarchy is no longer supported. Please allow UIWindow to add the rootViewController's view to the view hierarchy itself.

but did not show the toast message

any solution ?

[2019-10-22 06:14] AnitaVPN commented on #182
I am having same issue

[2019-11-03 17:43] IronBlossom commented on #176
My case is a bit different, I want to show it over keyboard on default bottom location.
How do I do that?

[2019-11-05 14:17] sauravm97 commented on #179
Any updates on this? Is it possible to merge #181, perhaps?

[2019-11-10 05:27] Natai opened #185 "Please update pod version"
In 2.2.0, toast will be hidden by keyboard, in the master branch demo will not. test use iOS 13.2.

[2019-11-13 22:44] muehlemann commented on #185
Any update on this, the master branch podspec specifies 2.3.0 but there is no release for this. Can  you please make a release so that the 2.3.0 pod is available via cocoapods.

[2019-11-15 00:52] cozzin commented on #180
This issue is resolved in iOS 13.2

[2019-11-15 00:52] #180 closed

[2019-11-15 00:53] cozzin commented on #183
This issue is resolved in iOS 13.2.
@WXXXXH Could you check in iOS 13.2?

[2019-11-15 00:56] cozzin commented on #184
Try it out on the master branch. The current maintainer did not update the release version.

[2019-11-15 00:56] cozzin commented on #185
@Coeur Could you update release version?

[2019-12-05 16:00] ykws commented on #182
refs #184

[2020-01-05 16:00] Cleversou1983 commented on #185
Any news on that? Thanks!

[2020-01-29 19:35] Blackbaud-ChristiSchneider commented on #185
As a workaround, you can set your Podfile to have:
`pod 'Toaster', :git => 'https://github.com/devxoul/Toaster.git', :branch => 'master'`

[2020-03-01 13:00] Adrift001 commented on #185
Can you update the pod version? Thanks!

[2020-03-26 15:18] SlavcoPetkovski opened #190 "Warnings when building the project"
Hi. I'm using the latest iOS 13.4 and latest XCode 11.4, but on this version and several before i got these warnings. Can you fix them?
![Screen Shot 2020-03-26 at 16 15 19](https://user-images.githubusercontent.com/20534421/77663507-6be53500-6f7d-11ea-8a6b-c3816b82858a.png)

[2020-05-04 12:38] PierreBrisorgueil opened #191 "Question: multiple appearance"
Hello :)

just a quick question, is it possible to set multiple appearances for multiple kinds of toasts ?
I have no idea to manage this currently

Thx !

[2020-05-29 14:03] devashish0402 opened #192 "Set different font family of toast message"
how to set a font family for the toast message??? i tried but its not working. its showing the same font.
![Screenshot 2020-05-29 at 7 31 25 PM](https://user-images.githubusercontent.com/58514238/83268277-031b7280-a1e3-11ea-950d-b7b23930ff89.png)

[2020-06-24 02:15] trevinwisaksana opened #193 "Cannot build on Xcode 12"
Toaster version 2.2.0 cannot be built on Xcode 12 because there are several switch statements that are not exhausted.

<img width="1113" alt="Screenshot 2020-06-24 at 09 15 13" src="https://user-images.githubusercontent.com/20000813/85490051-42c75580-b5fb-11ea-8ca5-426448ade254.png">

[2020-06-24 20:35] valeriy-kolodiy commented on #193
@trevinwisaksana These errors seem to be fixed in master. So until release, you can use master version.
(e.g. with Cocoa Pods you can add dependency as `pod 'Toaster', :git => 'https://github.com/devxoul/Toaster.git', :branch => 'master'`)

[2020-07-08 17:46] aryamansharda commented on #193
Any ETA for a new release cut? Happy to use the master version in the meantime, just curious.

[2020-07-21 08:14] MrSkwiggs commented on #185
Still waiting for a pod update... using a specific commit for now but not ideal

[2020-08-31 03:04] chrisyu-chn opened #194 "please add tag 2.3.0"
please add tag 2.3.0 for cocoapods (Toaster (~> 2.3))

[2020-09-02 02:33] wudijimao commented on #194
please~

[2020-09-02 09:40] MrSkwiggs commented on #194
Yep, been waiting for this for a while... There's no SPM support either. @Coeur As-tu abandonné ce projet ? :/

[2020-09-10 09:44] roddi commented on #194
+1 please!

[2020-09-16 08:37] ThomWee commented on #194
Would be awesome getting an official release!

[2020-09-16 08:44] debaj commented on #194
+1

[2020-09-16 11:31] snakeland commented on #194
+1

[2020-09-18 00:37] jmagi98 opened #195 "Switchcase must be Exhaustive"
Have an issue building my project all of the sudden after an Xcode update. Traces back to this library. Says that there must be an exhaustive switch case in the ToastView file. Any way around this?

[2020-09-18 07:41] asujiman commented on #195
<img width="863" alt="Screen Shot 2020-09-18 at 14 40 18" src="https://user-images.githubusercontent.com/10322533/93570238-e6d35980-f9bc-11ea-8ded-dfb479c50592.png">

Yeah I found this issue too. Any solution?

[2020-09-18 08:37] mircobabini commented on #195
#196 solves this

[2020-09-26 04:47] cozzin commented on #176
I created in feature in https://github.com/cozzin/SHToast

[2020-09-29 10:24] wangmingjob commented on #194
please! +1

[2020-10-01 06:30] DominatorVbN opened #198 "Add support for SPM"

[2020-10-04 06:03] JimmieWong commented on #194
equals to 2.3.0
 pod 'Toaster', :git => 'git@github.com:devxoul/Toaster.git', :commit => 'aec54fc48d3d36279424103de0784c23862d19df'

[2020-10-10 09:42] Coeur commented on #195
PR merged, so I'm closing this issue. But I'm not going to make a release, so you'll have to ping @devxoul and make sure to point to the "master" or "main" branches in the mean time.

[2020-10-10 09:42] #195 closed

[2020-10-13 01:15] dagad commented on #194
please +1
still waiting

[2020-10-19 04:28] okiookio commented on #194
pull source and add to local git

[2020-10-19 06:29] denishgcirklestudio opened #201 "Switch must be exhaustive | Version 12.0.1 (12A7300)"
I have updated Xcode for iOS version 14 and when build my project it threw me this error

**Switch must be exhaustive
Do you want to add missing cases?**

When I pressed the FIX button that added the below-mentioned code. It has the same error in 4-5 places. Please check and update.

[code]

![Excat issue](https://user-images.githubusercontent.com/59468606/96408974-2e3e4700-1202-11eb-98f7-c6efae9a

[2020-10-19 09:28] alexgarciaju commented on #201
Same issue here!

[2020-10-20 14:35] Coeur commented on #201
Just update your pod to latest commit. See #196

[2020-10-20 14:35] #201 closed

[2020-10-21 07:58] matzino commented on #194
+1

[2020-10-21 11:25] kajz3reczka commented on #194
+1

[2020-10-24 08:38] willbin commented on #194
+1

[2020-11-12 04:40] MarcSteven commented on #192
Is it still existing?

[2020-11-21 07:43] Fokinmc commented on #143
Hi
I can't install Toaster
<img width="507" alt="Снимок экрана 2020-11-21 в 13 42 39" src="https://user-images.githubusercontent.com/24645267/99870697-6ec52200-2bff-11eb-9fc7-bc1414fdf0f1.png">

<img width="797" alt="Снимок экрана 2020-11-21 в 13 43 15" src="https://user-images.githubusercontent.com/24645267/99870715-843a4c00-2bff-11eb-82eb-1703e9e92018.png">

help my please

[2020-11-21 07:58] Fokinmc commented on #143
I edit
open class ToastView: UIView {
add
case .Mac:
in 3 places
  @objc open dynamic var bottomOffsetPortrait: CGFloat = {
  @objc open dynamic var bottomOffsetLandscape: CGFloat = {
      switch UIDevice.current.userInterfaceIdiom {

[2020-11-29 11:48] codev-kuk commented on #194
+1

[2020-12-23 10:45] #194 closed

[2021-04-09 07:56] HyunjoonKo opened #206 "Error when using "Picture in Picture"."
Environment: Xcode 12.4 (12D4e)
Language: Swift 5.3.2
Toaster version used: 2.3.0

When using the "Picture in Picture" function on iOS 14 or higher devices, the toast view is not in the normal position.

Error reproduction path:
1. Launch the video player(AVPlayer) and activate the PIP mode.
2. Change the device orientation to landscape mode.
3. Change the orientation back to portrait.
- An error

[2021-04-11 11:07] Coeur commented on #179
While I don't work on the project anymore, I merged this popular change.

[2021-04-11 11:07] #179 closed

[2021-04-11 11:08] Coeur commented on #198
#181

[2021-04-11 11:08] #198 closed

[2021-06-30 12:22] Coeur commented on #193
A new version would need to be released by devxoul himself.

[2021-10-04 08:25] dcooley opened #208 "Toast not rotating with device orientation"
I believe this is related to #81 and #79, but I don't know the solution.

This issue is demonstrated because I require one of my ViewControllers to be locked in landscape.

I have made a reproducible example at [my fork](https://github.com/dcooley/Toaster) by changing the [`Demo` project](https://github.com/dcooley/Toaster/tree/master/Demo).

In summary the changes I've made are:

- set 'requires

[2021-10-05 01:41] dcooley commented on #208
Further investigation leads me to belive this is not an issue with `Toaster` per-se, but rather my use of `static func lockOrientation(_ orientation:, andRotateTo rotateOrientation:)`

I think my solution is to implement this in my `NextViewController`

[code]

and not use the `lockOrientation(_ orientation:, andRotateTo rotateOrientation:)` method.

I have updated [my fork](https://github.com/dco

[2021-10-05 02:26] svollgge opened #209 "3D only"
my mistake

[2021-10-05 02:27] #209 closed

[2021-10-05 03:16] dcooley commented on #208
I think my mistake is in my line

[code]

The second argument is actually assigned to the device orientation, not the interface. So I should be using

[code]

---

From the docs for UIInterfaceOrientation it also states this

Notice that UIDeviceOrientation.landscapeRight is assigned to UIInterfaceOrientation.landscapeLeft and UIDeviceOrientation.landscapeLeft is assigned to UIInterfaceOrientation

[2021-10-05 03:19] #208 closed

[2022-02-01 13:55] hvnwnd opened #211 "On iOS 15, when the keyboard is displaying, toasts don't display until I hide and display the keyboard again."
Hi, in the demo project, I reproduce the bug.

1. Click the Toggle keyboard button to show the keyboard
2. Click the Show button to show a toast, then the toast displays behind the keyboard window scene.

Do you have any idea that can fix this ?

[2022-04-29 10:36] gezamiklo opened #212 "Xcode 13.3.1: no Package.swift manifest for version 2.3.0"
Did add package using repo url and version up to next major. When trying to build the project, an error occurs
Showing All Messages
/Package.swift has no Package.swift manifest for version 2.3.0 in https://github.com/devxoul/Toaster

[2022-05-12 03:34] Coeur commented on #212
Please make a pull request.
Also, pinging @achernoprudov @kuldeeptyagics2 @mcblooder in case you might want to help.

[2022-05-12 03:36] Coeur commented on #212
Please make a pull request.
Also, pinging @achernoprudov @kuldeeptyagics2 @mcblooder in case you might want to help.

[2022-05-12 04:04] mcblooder commented on #212
@gezamiklo
Can you check if this fixes it for you?
[pull request](https://github.com/devxoul/Toaster/pull/213)

[2022-05-12 06:51] gezamiklo commented on #212
Yes it does solve the problem. Did not even think this one commented line could be the problem.

[2022-05-12 06:53] mcblooder commented on #212
Yeah, it took me a few tries to figure it out too! Oh, Xcode

[2022-05-12 08:38] Coeur commented on #212
Thanks

[2022-05-12 08:38] #212 closed

[2022-06-23 18:17] gregoirelemoulant opened #214 "iOS 16 beta 2 - landscape mode wrong orientation"
My app is in landscape only, but the toast is shown on portrait (it worked well on iOS 15)

[2022-09-02 06:34] DarkKnightKazuma commented on #214
I had the same issue.

[2022-09-26 08:22] BruceWayen66 commented on #214
I've come up with the same issue, Has anyone of you fixed it ?

[2022-09-26 10:16] kafejo commented on #214
I created a PR for it. Can someone test it, please? https://github.com/devxoul/Toaster/pull/215

[2022-10-19 12:05] zzpaf commented on #214
I can confirm that the solution works:

Change line 186 in ToastWindow.swift:
From:
if self.shouldRotateManually {
To:
if #unavailable(iOS 16.0), self.shouldRotateManually {

Thanks for the update!

[2022-10-20 11:49] kafejo commented on #214
Actually this library breaks the device orientation when we try to force one controller to landscape.